MyBetView/Connected Services/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyUserValidator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyBetModel.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserValidator_CheckRegUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegUser" />
  </wsdl:message>
  <wsdl:message name="IUserValidator_CheckRegUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserValidator_RegistrationNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationNewUser" />
  </wsdl:message>
  <wsdl:message name="IUserValidator_RegistrationNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserValidator_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserValidator_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserValidator">
    <wsdl:operation name="CheckRegUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserValidator/CheckRegUser" message="tns:IUserValidator_CheckRegUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserValidator/CheckRegUserResponse" message="tns:IUserValidator_CheckRegUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrationNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserValidator/RegistrationNewUser" message="tns:IUserValidator_RegistrationNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserValidator/RegistrationNewUserResponse" message="tns:IUserValidator_RegistrationNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserValidator/UpdateUser" message="tns:IUserValidator_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserValidator/UpdateUserResponse" message="tns:IUserValidator_UpdateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserValidator" type="tns:IUserValidator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckRegUser">
      <soap:operation soapAction="http://tempuri.org/IUserValidator/CheckRegUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrationNewUser">
      <soap:operation soapAction="http://tempuri.org/IUserValidator/RegistrationNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserValidator/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyUserValidator">
    <wsdl:port name="BasicHttpBinding_IUserValidator" binding="tns:BasicHttpBinding_IUserValidator">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MyBetService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>