MyBetView/Connected Services/ServiceReference1/MyBetModel.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyBetModel.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyBetModel.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEventBet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventBet" nillable="true" type="tns:EventBet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventBet" nillable="true" type="tns:ArrayOfEventBet" />
  <xs:complexType name="EventBet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bets" nillable="true" type="tns:ArrayOfBet" />
      <xs:element minOccurs="0" name="DateEvent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfResult" />
      <xs:element minOccurs="0" name="Team1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Team1Coef" type="xs:decimal" />
      <xs:element minOccurs="0" name="Team2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Team2Coef" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventBet" nillable="true" type="tns:EventBet" />
  <xs:complexType name="ArrayOfBet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bet" nillable="true" type="tns:Bet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBet" nillable="true" type="tns:ArrayOfBet" />
  <xs:complexType name="Bet">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetId" type="xs:int" />
      <xs:element minOccurs="0" name="CoefBet" type="xs:decimal" />
      <xs:element minOccurs="0" name="DateBet" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:EventBet" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="SumBet" type="xs:decimal" />
      <xs:element minOccurs="0" name="SumWinBet" type="xs:decimal" />
      <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bet" nillable="true" type="tns:Bet" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bets" nillable="true" type="tns:ArrayOfBet" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Result" nillable="true" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResult" nillable="true" type="tns:ArrayOfResult" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:EventBet" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="ResultId" type="xs:int" />
      <xs:element minOccurs="0" name="WinnerTeam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>